#chart_div_mp3 .gwd-motion-path-3333-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": true, "sections": [ {
      "controlPoints": ["-3.13px", "39.69px", "-4.9px", "-100.13px", "23.65px", "-227.04px", "75.34px", "-232.55px", "75.34px", "-232.55px", "124.98px", "-237.83px", "122.04px", "-193.09px", "205.01px", "-198.49px", "205.01px", "-198.49px", "313.68px", "-208.1px", "484.58px", "-205.06px", "643.77px", "-204.56px"], "startTimeMs": 0, "endTimeMs": 20000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-3333-keys-x 20s linear 0s 1 normal forwards;
  transform:translate3d(-3.13px, 0px, 0px);
}
@keyframes gwd-motion-path-3333-keys-x {
  0% {
    transform: translate3d(-3.13px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5794, -0.0216, 0.8872, 0.5017);
  }
  33.22% {
    transform: translate3d(68.09px, 0px, 0px);
  }
  34.07% {
    transform: translate3d(75.34px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3156, 0.3542, 0.6881, 0.6412);
  }
  47.42% {
    transform: translate3d(184.44px, 0px, 0px);
  }
  49.77% {
    transform: translate3d(205.01px, 0px, 0px);
  }
  100% {
    transform: translate3d(643.77px, 0px, 0px);
  }
}
#chart_div_mp3 .gwd-motion-path-3333-anim-y {
  animation: gwd-motion-path-3333-keys-y 20s linear 0s 1 normal forwards;
  transform: translate3d(0px, 39.69px, 0px);
}
@keyframes gwd-motion-path-3333-keys-y {
  0% {
    transform: translate3d(0px, 39.69px, 0px);
    animation-timing-function: cubic-bezier(0.331, 0.3347, 0.6521, 0.6844);
  }
  28.96% {
    transform: translate3d(0px, -206.78px, 0px);
    animation-timing-function: cubic-bezier(0.2565, 0.3346, 0.5662, 0.8839);
  }
  34.07% {
    transform: translate3d(0px, -232.55px, 0px);
    animation-timing-function: cubic-bezier(0.3996, -0.0765, 0.4313, 1.1248);
  }
  49.38% {
    transform: translate3d(0px, -198.29px, 0px);
  }
  49.77% {
    transform: translate3d(0px, -198.49px, 0px);
    animation-timing-function: cubic-bezier(0.1496, 0.7789, 0.2246, 1.4131);
  }
  100% {
    transform: translate3d(0px, -204.56px, 0px);
  }
}
#chart_div_mp3 .gwd-motion-path-3333-anim-theta {
  animation: gwd-motion-path-3333-keys-theta 20s linear 0s 1 normal forwards;
  transform: rotateZ(-90.73deg);
}
@keyframes gwd-motion-path-3333-keys-theta {
  0% {
    transform: rotateZ(-90.73deg);
    animation-timing-function: cubic-bezier(0.567, 0.1783, 0.9172, 0.3441);
  }
  31.52% {
    transform: rotateZ(-39.35deg);
  }
  32.37% {
    transform: rotateZ(-30.15deg);
  }
  34.07% {
    transform: rotateZ(-6.07deg);
    animation-timing-function: cubic-bezier(0.5143, 6.1763, 0.2563, 5.7416);
  }
  47.42% {
    transform: rotateZ(2.4deg);
  }
  49.77% {
    transform: rotateZ(-5.05deg);
    animation-timing-function: cubic-bezier(0.0929, 0.5134, 0.3799, 1.1669);
  }
  100% {
    transform: rotateZ(0.18deg);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-gwd-motion-path-node].gwd-motion-path-3333-anim-x {
  left: 33px;
  top: 230px;
  width: 50px;
  height: 50px;
}