#chart_div_mp2 .gwd-motion-path-2222-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": true, "sections": [ {
      "controlPoints": ["1px", "26px", "7px", "-68px", "15.66px", "-127px", "35px", "-179px", "35px", "-179px", "47.1px", "-211.53px", "129px", "-297px", "139px", "-301px", "139px", "-301px", "171.49px", "-314.01px", "233.67px", "-300.11px", "260.33px", "-301px", "260.33px", "-301px", "300.33px", "-302.33px", "608.98px", "-299.34px", "646px", "-301px"], "startTimeMs": 0, "endTimeMs": 20000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-2222-keys-x 20s linear 0s 1 normal forwards;
  transform:translate3d(1px, 0px, 0px);
}
@keyframes gwd-motion-path-2222-keys-x {
  0% {
    transform: translate3d(1px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.49, 0.1776, 0.7901, 0.5326);
  }
  23.76% {
    transform: translate3d(35px, 0px, 0px);
  }
  24.22% {
    transform: translate3d(36.57px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3641, 0.2851, 0.696, 0.6485);
  }
  42.14% {
    transform: translate3d(139px, 0px, 0px);
  }
  56.06% {
    transform: translate3d(260.33px, 0px, 0px);
  }
  100% {
    transform: translate3d(646px, 0px, 0px);
  }
}
#chart_div_mp2 .gwd-motion-path-2222-anim-y {
  animation: gwd-motion-path-2222-keys-y 20s linear 0s 1 normal forwards;
  transform: translate3d(0px, 26px, 0px);
}
@keyframes gwd-motion-path-2222-keys-y {
  0% {
    transform: translate3d(0px, 26px, 0px);
    animation-timing-function: cubic-bezier(0.3315, 0.335, 0.6599, 0.6738);
  }
  23.76% {
    transform: translate3d(0px, -179px, 0px);
    animation-timing-function: cubic-bezier(0.3053, 0.3534, 0.6463, 0.6996);
  }
  42.14% {
    transform: translate3d(0px, -301px, 0px);
    animation-timing-function: cubic-bezier(0.2073, -185.746, 0.3106, -163.093);
  }
  55.71% {
    transform: translate3d(0px, -300.96px, 0px);
  }
  56.06% {
    transform: translate3d(0px, -301px, 0px);
    animation-timing-function: cubic-bezier(0.0947, -1.9049, 0.6947, 1);
  }
  93.5% {
    transform: translate3d(0px, -300.5px, 0px);
    animation-timing-function: cubic-bezier(0.529, 0, 0.9042, 0.2632);
  }
  100% {
    transform: translate3d(0px, -301px, 0px);
  }
}
#chart_div_mp2 .gwd-motion-path-2222-anim-theta {
  animation: gwd-motion-path-2222-keys-theta 20s linear 0s 1 normal forwards;
  transform: rotateZ(-86.35deg);
}
@keyframes gwd-motion-path-2222-keys-theta {
  0% {
    transform: rotateZ(-86.35deg);
    animation-timing-function: cubic-bezier(0.5259, 0.1228, 0.7715, 0.5507);
  }
  23.76% {
    transform: rotateZ(-69.6deg);
    animation-timing-function: cubic-bezier(0.0677, 0.697, 0.4486, 0.8151);
  }
  36.62% {
    transform: rotateZ(-46.52deg);
    animation-timing-function: cubic-bezier(0.5096, 0.1843, 0.9297, 0.3914);
  }
  41.68% {
    transform: rotateZ(-37.68deg);
  }
  42.14% {
    transform: rotateZ(-21.82deg);
    animation-timing-function: cubic-bezier(0.0335, 0.4154, 0.4813, 1.4389);
  }
  55.01% {
    transform: rotateZ(2.91deg);
  }
  56.06% {
    transform: rotateZ(-1.91deg);
    animation-timing-function: cubic-bezier(0, -4.5909, 1, -5.9677);
  }
  100% {
    transform: rotateZ(-2.57deg);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-gwd-motion-path-node].gwd-motion-path-2222-anim-x {
  left: 34px;
  top: 322px;
  width: 62px;
  height: 62px;
}