#chart_div_mp4 .gwd-motion-path-4444-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": true, "sections": [ {
      "controlPoints": ["0px", "0px", "-2.53px", "-53.37px", "8.58px", "-104.66px", "33px", "-146px", "33px", "-146px", "57.57px", "-187.61px", "95.6px", "-219.17px", "136px", "-240px", "136px", "-240px", "159.93px", "-252.34px", "185.81px", "-257.41px", "210.93px", "-258.71px", "210.93px", "-258.71px", "253.01px", "-260.89px", "292.95px", "-252.5px", "318px", "-250px", "318px", "-250px", "366.92px", "-245.11px", "398.96px", "-235.14px", "434.95px", "-233.98px", "434.95px", "-233.98px", "558px", "-230px", "658px", "-241px", "658px", "-241px"], "startTimeMs": 0, "endTimeMs": 20000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-4444-keys-x 20s linear 0s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-4444-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5078, -0.1025, 0.8366, 0.6339);
  }
  18.51% {
    transform: translate3d(33px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3841, 0.2737, 0.6999, 0.6392);
  }
  35.74% {
    transform: translate3d(136px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3458, 0.3204, 0.6723, 0.6612);
  }
  45.23% {
    transform: translate3d(210.93px, 0px, 0px);
  }
  58.36% {
    transform: translate3d(318px, 0px, 0px);
  }
  72.76% {
    transform: translate3d(434.95px, 0px, 0px);
  }
  100% {
    transform: translate3d(658px, 0px, 0px);
  }
}
#chart_div_mp4 .gwd-motion-path-4444-anim-y {
  animation: gwd-motion-path-4444-keys-y 20s linear 0s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-4444-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3277, 0.3385, 0.65, 0.6843);
  }
  18.51% {
    transform: translate3d(0px, -146px, 0px);
    animation-timing-function: cubic-bezier(0.2888, 0.3724, 0.6108, 0.7301);
  }
  35.74% {
    transform: translate3d(0px, -240px, 0px);
    animation-timing-function: cubic-bezier(0.2165, 0.4031, 0.5194, 0.8926);
  }
  45.23% {
    transform: translate3d(0px, -258.71px, 0px);
    animation-timing-function: cubic-bezier(0.4162, -0.2459, 0.7883, 0.7691);
  }
  58.36% {
    transform: translate3d(0px, -250px, 0px);
    animation-timing-function: cubic-bezier(0.3847, 0.2546, 0.5899, 0.8261);
  }
  72.76% {
    transform: translate3d(0px, -233.98px, 0px);
    animation-timing-function: cubic-bezier(0.4842, -0.4967, 0.8918, 0.6424);
  }
  100% {
    transform: translate3d(0px, -241px, 0px);
  }
}
#chart_div_mp4 .gwd-motion-path-4444-anim-theta {
  animation: gwd-motion-path-4444-keys-theta 20s linear 0s 1 normal forwards;
  transform: rotateZ(-92.71deg);
}
@keyframes gwd-motion-path-4444-keys-theta {
  0% {
    transform: rotateZ(-92.71deg);
    animation-timing-function: cubic-bezier(0.366, 0.2999, 0.7053, 0.6294);
  }
  18.51% {
    transform: rotateZ(-59.44deg);
    animation-timing-function: cubic-bezier(0.3005, 0.3662, 0.6387, 0.694);
  }
  35.74% {
    transform: rotateZ(-27.28deg);
    animation-timing-function: cubic-bezier(0.2959, 0.3677, 0.6146, 0.7235);
  }
  45.23% {
    transform: rotateZ(-2.97deg);
    animation-timing-function: cubic-bezier(0.0876, 0.2783, 0.7214, 1.8654);
  }
  58.36% {
    transform: rotateZ(5.71deg);
    animation-timing-function: cubic-bezier(0.6098, -2.1828, 0.7721, -0.6745);
  }
  72.76% {
    transform: rotateZ(1.85deg);
  }
  100% {
    transform: rotateZ(-6.28deg);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-gwd-motion-path-node].gwd-motion-path--anim-x {
  left: 42px;
  top: 331px;
  width: 55px;
  height: 55px;
}
