#chart_div_mp3 .gwd-motion-path-3333-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": true, "sections": [ {
      "controlPoints": ["0px", "0px", "2.17px", "-126.78px", "26.65px", "-227.61px", "78.1px", "-232.59px", "78.1px", "-232.59px", "127.5px", "-237.37px", "124.57px", "-196.91px", "207.14px", "-201.79px", "207.14px", "-201.79px", "301.1px", "-207.34px", "489.57px", "-204.45px", "648px", "-204px"], "startTimeMs": 0, "endTimeMs": 20000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":1
  }
  ;
  animation:gwd-motion-path-3333-keys-x 20s linear 0s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-3333-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6337, 0.0452, 0.8422, 0.4551);
  }
  31.91% {
    transform: translate3d(84.85px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3118, 0.3566, 0.6655, 0.6654);
  }
  40% {
    transform: translate3d(147.15px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3354, 0.3302, 0.6662, 0.6672);
  }
  100% {
    transform: translate3d(648px, 0px, 0px);
  }
}
#chart_div_mp3 .gwd-motion-path-3333-anim-y {
  animation: gwd-motion-path-3333-keys-y 20s linear 0s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-3333-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2124, 0.2169, 0.8315, 0.9309);
  }
  29.54% {
    transform: translate3d(0px, -229.29px, 0px);
    animation-timing-function: cubic-bezier(0.4023, -0.6209, 0.699, 0.8194);
  }
  41.61% {
    transform: translate3d(0px, -204.98px, 0px);
    animation-timing-function: cubic-bezier(0.1107, 8.7155, 0, -3.6619);
  }
  100% {
    transform: translate3d(0px, -204px, 0px);
  }
}
#chart_div_mp3 .gwd-motion-path-3333-anim-theta {
  animation: gwd-motion-path-3333-keys-theta 20s linear 0s 1 normal forwards;
  transform: rotateZ(-89.02deg);
}
@keyframes gwd-motion-path-3333-keys-theta {
  0% {
    transform: rotateZ(-89.02deg);
    animation-timing-function: cubic-bezier(0.7072, 0.128, 0.851, 0.2392);
  }
  31.1% {
    transform: rotateZ(-5.53deg);
    animation-timing-function: cubic-bezier(0.5326, 6.4031, 0.2441, 5.8039);
  }
  44.85% {
    transform: rotateZ(2.13deg);
  }
  45.25% {
    transform: rotateZ(1.06deg);
    animation-timing-function: cubic-bezier(0.0292, 9.3157, 0, -0.8966);
  }
  100% {
    transform: rotateZ(0.16deg);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-gwd-motion-path-node].gwd-motion-path-3333-anim-x {
  left: 33px;
  top: 230px;
  width: 50px;
  height: 50px;
}